<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatisplus.mapper.StudentMapper">
    <select id="queryList" resultType="com.atguigu.mybatisplus.vo.StudentVO" >
        select a.* from student a
        <where>
            <if test=' searchWord != null and searchWord != "" '>
                a.real_name like concat('%',#{searchWord},'%') or a.sno like concat('%',#{searchWord},'%')
            </if>
        </where>
        order by a.id desc
    </select>
    <select id="queryListTrans" resultType="com.atguigu.mybatisplus.vo.StudentVoTrans">
        select a.* from student a
        <where>
            <if test=' searchWord != null and searchWord != "" '>
                a.real_name like concat('%',#{searchWord},'%') or a.sno like concat('%',#{searchWord},'%')
            </if>
        </where>
        order by a.id desc
    </select>
</mapper>
